@model EjemploRazor.Models.MADRID
<h2>Detalles Jugador</h2>

<div>
    <h4>Jugador</h4>
    <hr />
    <ul>
       
        <li>
            <b>DORSAL:</b> @Model.DORSAL

        <li>
            <b>NOMBRE:</b> @Model.NOMBRE
        </li>

        <li>
            <b>POSICION:</b> @Model.POSICION
        </li>
        

    </ul>
</div>

