
@{
    ViewBag.Title = "Ejemplo1";
}

<h2>Razor Ejemplo 1</h2>
<h3>
    @ViewBag.Mensaje, el año es @DateTime.Now.Year
</h3>

<p>
    Ejemplo enlace <a href="https://www.google.es">Enlace</a>
</p>




